{# src/DoninfoBundle/Resources/views/Security/connexion.html.twig #}

{% extends "DoninfoBundle:Site:layout.html.twig" %}

{% block contenu %}

    {% if error %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}
    
    <div class="bloc-form">
    
        <div class="form-connexion-info">
                
            <h4>Connectez-vous</h4>
                
            <p>
                Veuillez indiquer votre adresse courriel et votre mot de passe.
            </p>
                
        </div> 
    
    <form action="{{ path('login_check') }}" method="post" class="form-connexion">
    
        <h4>Connectez-vous</h4>
        
        <br />
        
        <div class="input-group input-form-box">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
            </span>
            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Nom d'utilisateur" class="form-control"/>
        </div>
        
        <br />
        
        <div class="input-group input-form-box">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-lock"></span>
            </span>
            <input type="password" id="password" name="_password" placeholder="Mot de passe" class="form-control"/>
        </div>
        
        <br />
        
        <div class="form-group has-feedback button-container">
            <input type="submit" value="Connexion" class="button form-control" />
            <i class="glyphicon glyphicon-chevron-right form-control-feedback button-icon"></i>
        </div>
        
        
        
    </form>
    </div>

{% endblock %}