{# src/DoninfoBundle/Resources/views/Membre/membrearchive.html.twig #}

{% extends "DoninfoBundle:Membre:membre.html.twig" %}

{% block contenumembre %}
    
    <div class="infos-membre-annonce">
        <div class="bloc-membre-annonce">
            <h4 class="titre-membre">
                <span><i class="fa fa-archive" aria-hidden="true"></i></span>
                Annonces terminées
            </h4>
            {{ include("DoninfoBundle:Site:listannonceoff.html.twig") }}
        </div>
    </div>

 
{% endblock %}
