{# src/DoninfoBundle/Resources/views/Membre/membremessages.html.twig #}

{% extends "DoninfoBundle:Membre:messages.html.twig" %}

{% block contenumembre %}
    
    <div class="infos-membre-annonce">
        <div class="bloc-membre-annonce">
            <h4 class="titre-membre">
                <span>
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </span>
                Messages envoyés
            </h4>
            {{ include("DoninfoBundle:Site:listmessages.html.twig") }}
        </div>
    </div>
 
{% endblock %}
