/*------------------------------------------------------------------------
---------------------- COULEURS ------------------------------------------
------------------------------------------------------------------------*/

@liens: #FFFFFF;
@back_header: #000000;
@back_footer: #000000;

/*------------------------------------------------------------------------
---------------------- HEADER / FOOTER -----------------------------------
------------------------------------------------------------------------*/

.bloc_header
{
    height: 50px;
    background: @back_header;
    margin-bottom: 20px;
}

.bloc_footer
{
    height: 200px;
    background: @back_footer;
    margin-top: 20px;
}

.liens
{
    color: @liens;
}
