/*------------------------------------------------------------------------
---------------------- COULEURS ------------------------------------------
------------------------------------------------------------------------*/

@liens: #FFFFFF;
@liensHover: #FFFFFF;
@liensHoverFooter: #A8E2FF;
@back_header: #25264F;
@back_bottom_header: #3D3F82;
@back_footer: #25264F;
@back_top_footer: #393A7A;
@back_body: #F8F7FF;
@button-icon-back: #78789C;
@button-icon-back-hover: #3F3F52;
@button-icon-color: #FFFFFF;
@button-back: #B7B8EE;
@button-back-hover: #8586AD;
@button-text-color: #FFFFFF;
@button-hover: #3564FF;
@background-flash: rgba(255, 255, 255, 0.7);
@text-flash: #C95F5D;
@text-erreurs: #FF7976;


/*------------------------------------------------------------------------
---------------------- FONCTIONS ET CLASS --------------------------------
------------------------------------------------------------------------*/

/*------------------------------------------------------------------------
---------------------- POLICE --------------------------------------------
------------------------------------------------------------------------*/

body
{
    font-family: Source Sans Pro;
}

p
{
    text-align: justify;
    font-size: 1em;
}

a, h1, h2, h3, h4
{
    font-family: Lato;
    font-weight: bold;
}

/*------------------------------------------------------------------------
---------------------- BOUTONS / LIENS -----------------------------------
------------------------------------------------------------------------*/

.button-container
{
    max-width: 110px;
    
    button
    {
        border-radius: 0px!important;
    }
    input
    {
        border-radius: 0px!important;
    }
}

.button-container:hover
{
    .button
    {
        background: @button-back-hover;
    }
    
    .button-icon
    {
        background: @button-icon-back-hover;
    }
}

.button
{
    background: @button-back;
    color: @button-text-color;
    font-family: lato;
    font-size: 14px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.button-icon
{
    background: @button-icon-back;
    color: @button-icon-color;
}

.liens
{
    color: @liens!important;
}

/*------------------------------------------------------------------------
---------------------- BODY ----------------------------------------------
------------------------------------------------------------------------*/

body
{
    background-color: @back_body;
}

.bloc_page
{
    min-height:100%;
    width: 100%;
}

/*------------------------------------------------------------------------
---------------------- HEADER --------------------------------------------
------------------------------------------------------------------------*/

header
{
    border-bottom: 1px solid grey;
}


.logo
{
    max-height: 20px;
}

.navbar
{
    margin-bottom: 0px!important;
    padding-bottom: 0px!important;
    border-radius: 0px;
}

.bloc_header
{
    background: @back_header;
        
    .liens:hover
    {
        color: @liensHoverFooter!important;
        background-color: @back_bottom_header;
    }
    
    .btn-recherche:hover
    {
        background-color: @liensHoverFooter;
    }
    
    .lien-logo
    {
        vertical-align: middle;
    }
    
    .dropdown-menu
    {
        background: @back_header!important;
    }
    
    .navbar-toggle
    {
        background-color: @liens;
    }
    
    .dropdown-toggle:focus
    {
        background-color: @back_bottom_header!important;
    }
}

a.lien1:hover
{
    background-color: #D162D4;
}

a.lien2:hover
{
    background-color: #F0D887;   
}

a.lien3:hover
{
    background-color: #50DBC3;
}

/*------------------------------------------------------------------------
---------------------- FOOTER --------------------------------------------
------------------------------------------------------------------------*/

footer
{
    padding-top: 50px;
    height: 100px;
    background-color: @back_top_footer;
    border-top: 1px solid black;
}

.bloc_footer
{
    margin-top: 20px;
    padding-top: 20px;
    height: 200px;
    background: @back_footer;
    p 
    {
        text-align: right;
        margin-right: 20px;
    }
    a 
    {
        margin-top: 20px;
        margin-left: 20px;
    }
    a:hover
    {
        text-decoration: none;
        color: @liensHoverFooter;
    }
}

.liens-footer
{
    display: block;
}

/*------------------------------------------------------------------------
---------------------- MESSAGES FLASH & ERREURS---------------------------
------------------------------------------------------------------------*/

.flash-messages
{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 15px;
    background-color: @background-flash;
    color: @text-flash;
}

.bloc-erreurs
{
    width: 100%;
    color: @text-erreurs;
    font-size: 1.2em;
    font-style: italic;
    display: block!important;
}

