/*------------------------------------------------------------------------
---------------------- COULEURS ------------------------------------------
------------------------------------------------------------------------*/

@liens: #FFFFFF;
@liensHover: #FFFFFF;
@liensHoverFooter: #A8E2FF;
@back_header: #25264F;
@back_bottom_header: #3D3F82;
@back_footer: #25264F;
@back_top_footer: #393A7A;
@back_body: #F8F7FF;
@button-icon-back: #78789C;
@button-icon-back-hover: #3F3F52;
@button-icon-color: #FFFFFF;
@button-back: #B7B8EE;
@button-back-hover: #8586AD;
@button-text-color: #FFFFFF;
@button-hover: #3564FF;
@background-flash: rgba(255, 255, 255, 0.7);
@text-flash: #C95F5D;
@text-erreurs: #FF7976;


/*------------------------------------------------------------------------
---------------------- FONCTIONS ET CLASS --------------------------------
------------------------------------------------------------------------*/

/*------------------------------------------------------------------------
---------------------- POLICE --------------------------------------------
------------------------------------------------------------------------*/

@font-face 
{
    font-family: 'open_sansbold_italic';
    src: url('../fonts/opensansbold/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/opensansbold/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensansbold/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/opensansbold/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/opensansbold/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'open_sansbold';
    src: url('../fonts/opensansbold/OpenSans-Bold-webfont.eot');
    src: url('../fonts/opensansbold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensansbold/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/opensansbold/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/opensansbold/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans/OpenSans-Italic-webfont.eot');
    src: url('../fonts/opensans/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/opensans/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/opensans/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'open_sansregular';
    src: url('../fonts/opensans/OpenSans-Regular-webfont.eot');
    src: url('../fonts/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/opensans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



body
{
    font-family: 'open_sansregular';
}

p
{
    font-family: 'open_sansitalic', Arial, serif;
    text-align: justify;
    font-size: 1em;
}

a, h1, h2, h3,
{
    font-family: Lato;
    font-weight: bold;
}

h4
{
    font-family: 'open_sansregular', Arial, serif;
    font-size: 1.8em;
}

h5
{
    font-family: 'open_sansitalic', Arial, serif;
}

label
{
    font-family: 'open_sansitalic', Arial, serif;
}

/*------------------------------------------------------------------------
---------------------- BOUTONS / LIENS -----------------------------------
------------------------------------------------------------------------*/

.navbar-toggle .icon-bar 
{
  background-color: #000000;
}

.button-container
{
    max-width: 110px;
    
    button
    {
        border-radius: 0px!important;
        font-style: italic;
    }
    input
    {
        border-radius: 0px!important;
    }
}

.button-container:hover
{
    .button
    {
        background: @button-back-hover;
    }
    
    .button-icon
    {
        background: @button-icon-back-hover;
    }
}

.button
{
    background: @button-back;
    color: @button-text-color;
    font-family: lato;
    font-size: 14px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.button-icon
{
    background: @button-icon-back;
    color: @button-icon-color;
}

.liens
{
    color: @liens!important;
}

/*------------------------------------------------------------------------
---------------------- BODY ----------------------------------------------
------------------------------------------------------------------------*/

html 
{
    position: relative;
    min-height: 100%;
}


body
{
    background-color: @back_body;
    margin-bottom: 100px;
    background: url(../images/fond.png) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section
{
    height: 100%;
}

.bloc_page
{
    min-height:100%;
    width: 100%;
}

/*------------------------------------------------------------------------
---------------------- HEADER --------------------------------------------
------------------------------------------------------------------------*/

header
{
    border-bottom: 1px solid grey;
}


.logo
{
    max-height: 20px;
}

.navbar
{
    margin-bottom: 0px!important;
    padding-bottom: 0px!important;
    border-radius: 0px;
}

.bloc_header
{
    background: @back_header;
        
    .liens:hover
    {
        color: @liensHoverFooter!important;
        background-color: @back_bottom_header;
    }
    
    .btn-recherche:hover
    {
        background-color: @liensHoverFooter;
    }
    
    .lien-logo
    {
        vertical-align: middle;
    }
    
    .dropdown-menu
    {
        background: @back_header!important;
    }
    
    .navbar-toggle
    {
        background-color: @liens;
    }
    
    .dropdown-toggle:focus
    {
        background-color: @back_bottom_header!important;
    }
}

a.lien1:hover
{
    background-color: #D162D4;
}

a.lien2:hover
{
    background-color: #F0D887;   
}

a.lien3:hover
{
    background-color: #50DBC3;
}

/*------------------------------------------------------------------------
---------------------- FOOTER --------------------------------------------
------------------------------------------------------------------------*/

footer
{
    height: 100px;
    background-color: @back_top_footer;
    border-top: 1px solid black;
    width: 100%;
    position: absolute;
    bottom: 0;
    .copy
    {
        text-align: center;
    }
}

.bloc_footer
{
    width: 100%;
    padding-top: 20px;
    height: 20px;
}

.container-foot
{
    max-width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.bloc-footer-button-contact, .bloc-footer-button-social
{
    text-align: center;
    a 
    {
        width: 100%;
        height: 100%;
        color: #FFFFFF;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    a:hover
    {
        text-decoration: none;
        span 
        {
            color: @liensHoverFooter;
        }
    }
    
    span
    {
        font-size: 1em;
    }
    
    h5
    {
        font-size: 1em;
        color: #FFFFFF;
    }
}

.bloc-footer-button-social
{
    
}

/*------------------------------------------------------------------------
---------------------- MESSAGES FLASH & ERREURS---------------------------
------------------------------------------------------------------------*/

.flash-messages, .flash-messages-annonce
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 15px;
    background-color: @background-flash;
    color: @text-flash;
    text-align: center;
}

.flash-messages
{
    max-width: 500px;
}

.flash-messages-annonce
{
    max-width: 800px;
}

.bloc-erreurs
{
    width: 100%;
    color: @text-erreurs;
    font-size: 1em;
    font-style: italic;
    display: block!important;
}

.error
{
    border: 1px solid @text-erreurs!important;
}

.bloc-page-erreur
{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 10%;
    margin-bottom: 10%;

    h1
    {
        margin-top: 0px;
        margin-bottom: 20px;
        color: #9B9CC9;
        border-bottom: 1px solid rgba(183, 184, 238, 0.7);
        border-top: 1px solid rgba(183, 184, 238, 0.7);
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: center;
    }
    
    h2
    {
        margin-top: 0px;
        margin-bottom: 20px;
        color: #4E4F66;
        text-align: center;
    }
    
    p 
    {
        text-align: center;
        color: #4E4F66;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .img-erreur 
    {
        width: 100%;
        text-align: center;
    }
}

/*------------------------------------------------------------------------
---------------------- MEDIA QUERIES -------------------------------------
------------------------------------------------------------------------*/

@media screen and (max-width: 769px) 
{
    footer
    {
        height: 200px;
    }
    
    body
    {
        margin-bottom: 200px;
    }
    
    .bloc-footer-button-contact, .bloc-footer-button-social
    {
        h5
        {
            font-size: 0.9em;
        }
    }
    
    .bloc-footer-button-contact
    {
        text-align: left;
        a 
        {
            margin-left: 0px;
            
        }
    }
    
    .bloc-footer-button-social, .copy
    {
        text-align: right!important;
        
        a 
        {
            margin-right: 0px;
            
        }
    }
    
    .copy
    {
        margin-top: 30px;
    }

} 

