{# src/DoninfoBundle/Resources/views/Site/affichagedon.html.twig #}

{% extends "DoninfoBundle:Site:layout.html.twig" %}

{% block contenu %}
   
    <div class="lien-retour"></div>
    <div class="row">
        <div class="titre-desc-affichage">
            <h1 class="titre-affichage"></h1>
            <p class="desc-affichage"></p>
        </div>
        <div class="images-affichage"></div>
        <div class="details-affichage"></div>
    </div>
 
{% endblock %}
