{% extends "DoninfoBundle:Site:layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block contenu %}

    <div class="index-donataire">
        <h2 class="titre-donataire">Besoins</h2>
        <div class="index-liste-demande">
            <div class="index-liste-ligne index-imp row">
                <span class="td-date col-sm-1 col-xs-12">23/05/2016</span>
                <span class="td-titre col-sm-3 col-xs-12">Titre donation 1</span>
                <span class="td-description col-sm-8 col-xs-12">
                    Post quorum necem nihilo lenius ferociens Gallus ut leo cadaveribus pastus multa huius modi scrutabatur. quae singula narrare non refert, me professione modum, quod evitandum est, excedamus.
                </span>
            </div>
            <div class="index-liste-ligne index-pair row">
                <span class="td-date col-sm-1 col-xs-12">23/05/2016</span>
                <span class="td-titre col-sm-3 col-xs-12">Titre donation 1</span>
                <span class="td-description col-sm-8 col-xs-12">
                    Post quorum necem nihilo lenius ferociens Gallus ut leo cadaveribus pastus multa huius modi scrutabatur. quae singula narrare non refert, me professione modum, quod evitandum est, excedamus.
                </span>
            </div>
            <div class="index-liste-ligne index-imp row">
                <span class="td-date col-sm-1 col-xs-12">23/05/2016</span>
                <span class="td-titre col-sm-3 col-xs-12">Titre donation 1</span>
                <span class="td-description col-sm-8 col-xs-12">
                    Post quorum necem nihilo lenius ferociens Gallus ut leo cadaveribus pastus multa huius modi scrutabatur. quae singula narrare non refert, me professione modum, quod evitandum est, excedamus.
                </span>
            </div>
            <div class="index-liste-ligne index-pair row">
                <span class="td-date col-sm-1 col-xs-12">23/05/2016</span>
                <span class="td-titre col-sm-3 col-xs-12">Titre donation 1</span>
                <span class="td-description col-sm-8 col-xs-12">
                    Post quorum necem nihilo lenius ferociens Gallus ut leo cadaveribus pastus multa huius modi scrutabatur. quae singula narrare non refert, me professione modum, quod evitandum est, excedamus.
                </span>
            </div>
            <div class="index-liste-ligne index-imp row">
                <span class="td-date col-sm-1 col-xs-12">23/05/2016</span>
                <span class="td-titre col-sm-3 col-xs-12">Titre donation 1</span>
                <span class="td-description col-sm-8 col-xs-12">
                    Post quorum necem nihilo lenius ferociens Gallus ut leo cadaveribus pastus multa huius modi scrutabatur. quae singula narrare non refert, me professione modum, quod evitandum est, excedamus.
                </span>
            </div>
        </div>
    </div>
    
{% endblock %}
