{# src/DoninfoBundle/Resources/views/Site/affichagedon.html.twig #}

{% extends "DoninfoBundle:Site:layout.html.twig" %}

{% block contenu %}
   
    
    <div id="map" class="top" style="width: 600px; height: 400px">
    
    </div>
        
    <div class="middle">
            
    </div>
        
    <div class="bottom">
            
    </div>

{% endblock %}
