{# src/DoninfoBundle/Resources/views/Site/postannonce.html.twig #}

{% extends "DoninfoBundle:Site:layout.html.twig" %}

{% block contenu %}
        
    <div class="bloc-form">
       
        <div class="form-post-info">
                
            <h4>Poster un 
                {% if app.user.typestructure == 'Entreprise' %}
                    don 
                {% endif %}
                {% if app.user.typestructure == 'Association' %}
                    besoin
                {% endif %}
                
            </h4>
                
            <p>
                Si vous souhaitez
                    
                {% if app.user.typestructure == 'Entreprise' %}
                    poster un don,
                {% endif %}
                {% if app.user.typestructure == 'Association' %}
                    poster un besoin,
                {% endif %}
                    
                veuillez remplir le formulaire ci-dessous pour poster votre 
                annonce
            </p>
                
        </div>
            
        {{ include("DoninfoBundle:Site:formannonce.html.twig") }}   
        
    </div>
    
{% endblock %}
